* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  size: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.title{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  align-items: center;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

article{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 700px;
  margin: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  font-size: 30px;
  transition: transform 0.3s ease;
}

article:hover{  
  transform: scale(1.02);
}

img{
  margin-top: 15px;  
  width: 90%;
  border-radius: 5px;
}

.room-title{
  margin-top: 20px;
  font-size: 30px;
}

ul{
  width: 90%;
  margin: 10px;
  padding: 5px;
  overflow: auto;
  font-size: 20px;
}

ul li{
  margin-bottom: 5px;
}

.buttons-section{
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

button{
  font-size: 18px;
  height: 50px;
  width: 120px;
  border: none;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease;
}

button:hover{
  transform: scale(110%);
}